<!DOCTYPE html>
<html>
<head>
    <title>XIANYOU YANG</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<div class="nav">
    <div class="title">XIANYOU YANG</div>
      <ul>
        <li>My work</li>
        <li>About me</li>
    </ul>
</div>
<img src="/images/cleaner/bannner.png" class="bannner">
<div class="light-page">
    <div class="content-container">
        <div class="paragraph">
            <h3>Project Scope</h3>
            <p>
                Duration: 3 months<br/>
                Team: Yang Xianyou, Wen Yile, Li Tianke, Zheng Yujie, Tian Jiayu<br/>
                My Role: leader, research, ideation, concept development, prototype, market, presentation
            </p>
        </div>
    </div>
</div>
<div class="dark-page">
    <div class="content-container">
        <div class="paragraph">
            <h3>Project Summary </h3>
            <h2>To live a clean and comfortable life</h2>
            <p>
                Underwear health e  is a concern that is often overlooked. In fact, underwear due to personal wear easily contaminates with
                grease and at the same time, its correct way of cleaning is extremely tedious. Therefore, due to infrequent cleaning or wrong
                cleaning methods, most women's underwear  are not healthy enough.<br/>
                We want to design a product that cleans underwear cleanly, conveniently without damageand the need for excessive user
                intervention.
            </p>
        </div>
    </div>
</div>
<div class="light-page">
    <div class="content-container">
        <div class="paragraph">
            <h3>Research </h3>
            <h2>Problem Statement</h2>
            <p>
                Underwear health e  is a concern that is often overlooked. In fact, underwear due to personal wear easily contaminates with
                grease and at the same time, its correct way of cleaning is extremely tedious. Therefore, due to infrequent cleaning or wrong
                cleaning methods, most women's underwear  are not healthy enough.
            </p>
            <p class="center">
                <img src="/images/cleaner/1.png" width="80%">
            </p>
        </div>
        <div class="paragraph">
            <h3>Research </h3>
            <h2>Competitive Analysis</h2>
            <p>
                There are several standards: to make bra clean, to protect the bra's fibers and elastane from heat(1. 30-40° water temperature,
                2. dedicated laundry detergent, 3. specific washing duration), to keep the underwire and straps from getting damaged and to
                make the process easy.
            </p>
            <p class="center">
                <img src="/images/cleaner/2.png" width="60%">
            </p>
        </div>
        <div class="paragraph">
            <h3>Research  </h3>
            <h2>User Interview</h2>
            <p class="center">
                <img src="/images/cleaner/3.png" width="90%">
            </p>
        </div>
    </div>
</div>
<div class="dark-page">
    <div class="content-container">
        <div class="paragraph">
            <h3>Ideation   </h3>
            <h2>Guiding Goals</h2>
            <p>
                To make bra clean<br/>
                To create a independent environment for bra washing.(1. 30-40° water temperature, 2. dedicated laundry detergent, 3. specific washing duration)<br/>
                To create a solid space so that to keep the underwire and straps from getting damaged<br/>
                To make the process easy for users<br/>
                Plus: to be quick<br/>
            </p>
        </div>
    </div>
</div>
<div class="light-page">
    <div class="content-container">
        <div class="paragraph">
            <h3>Ideation   </h3>
            <h2>Personna</h2>
            <p class="center">
                <img src="/images/cleaner/4.png" width="100%">
            </p>
        </div>
        <div class="paragraph">
            <h3>Ideation   </h3>
            <h2>User Needs</h2>
            <p class="center">
                <img src="/images/cleaner/5.png" width="90%">
            </p>
        </div>
        <div class="paragraph">
            <h3>Design   </h3>
            <h2>Functions</h2>
            <p>
                2 buttons, 1 for clean and dry, 1 for  disinfection
            </p>
            <ul>
                <li>Clean: have a support</li>
                <li>Clean: have a support</li>
                <li>Clean: have a support</li>
            </ul>
        </div>
        <div class="paragraph">
            <h3>Design   </h3>
            <h2>structures and details</h2>
            <p class="center">
                <img src="/images/cleaner/6.png" width="60%">
            </p>
        </div>
        <div class="paragraph">
            <h3>Design   </h3>
            <h2>Low-fidelity prototype</h2>
            <p class="center">
                <img src="/images/cleaner/7.png" width="70%">
            </p>
        </div>
        <div class="paragraph">
            <h3>Design   </h3>
            <h2>High-fidelity prototype</h2>
            <p class="center">
                <img src="/images/cleaner/8.png" width="80%">
            </p>
        </div>
    </div>
</div>
<div class="dark-page">
    <div class="content-container">
        <div class="ending-end">The End</div>
        <div class="ending-pointer">
            <div onclick="window.location.href='/service'">
                <span class="next">Next Project</span><br/>
                <span class="project">Wedding Service</span>
            </div>
        </div>
    </div>
</div>
<div class="copyright">
    Copyright&copy;2018 Xianyou Yang. All Rights Reserved.
</div>
<script type="text/javascript" src="/javascripts/index.js"></script>
</body>

</html>
