<!DOCTYPE html>
<html>
  <head>
    <title>Sixuan Li - iCushion</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="nav">
      <div class="title">SIXUAN LI</div>
      <ul>
        <li>Work</li>
        <li>Work</li>
        <li>About</li>
      </ul>
    </div>
    <img src="/images/icushion/bannner.png" class="bannner">
    <script type="text/javascript" src="/javascripts/index.js"></script>
  </body>

</html>
