<!DOCTYPE html>
<html>
  <head>
    <title>XIANYOU YANG</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="nav">
      <div class="title">XIANYOU YANG</div>
      <ul>
        <li>My work</li>
        <li>About me</li>
      </ul>
    </div>
    <div class="index-view">
      <table>
        <tbody>
          <tr>
            <td>
              <div class="hint-back" style="background-image: url('/images/index/4.png')" onmousemove="IndexImageMoveIn(this)" onmouseout="IndexImageMoveOut(this)">
                <div class="hint-hind">
                  <div>
                    <h1>WeRescue</h1>
                    <p>A new post-flood rescue mode <br/> To assist people with self and mutual aid</p>
                  </div>
                </div>
              </div>
            </td>
            <td>
              <div class="hint-back" style="background-image: url('/images/index/2.png')" onmousemove="IndexImageMoveIn(this)" onmouseout="IndexImageMoveOut(this)">
                <div class="hint-hind">
                  <div>
                    <h1>Necho</h1>
                    <p>For online payment era<br/> To help parents raise kids' right attitudes <br/> towards digital currency</p>
                  </div>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="hint-back" style="background-image: url('/images/index/3.png')" onmousemove="IndexImageMoveIn(this)" onmouseout="IndexImageMoveOut(this)">
                <div class="hint-hind">
                  <div>
                    <h1>Wedding service design</h1>
                    <p>Service design for wedding company</p>
                  </div>
                </div>
              </div>
            </td>
            <td>
              <div class="hint-back" style="background-image: url('/images/index/1.png')" onmousemove="IndexImageMoveIn(this)" onmouseout="IndexImageMoveOut(this)">
                <div class="hint-hind">
                  <div>
                    <h1>Bra Cleaner</h1>
                    <p>For a comfortable leisure time <br/>For a high-quality life<br/>For health</p>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <script type="text/javascript" src="/javascripts/index.js"></script>
  </body>

</html>
