<!DOCTYPE html>
<html>
<head>
    <title>XIANYOU YANG</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<div class="nav">
    <div class="title">XIANYOU YANG</div>
      <ul>
        <li>My work</li>
        <li>About me</li>
    </ul>
</div>
<img src="/images/necho/bannner.png" class="bannner">
<div class="light-page">
    <div class="content-container">
        <div class="paragraph">
            <h3>Project Scope</h3>
            <p>
                Duration: 3 months<br/>
                Team: Wu Lingang, Yang Xianyou, Hong Jiayi, Wu Su, Tan Xinyu, Beng Haun, Frankie Naik<br/>
                My Role: research, ideation, concept development, information architecture, prototype, presentation
            </p>
        </div>
    </div>
</div>
<div class="dark-page">
    <div class="content-container">
        <div class="paragraph">
            <h3>Project Summary </h3>
            <h2>To get kids familiar with digital currencies and online payment with parents</h2>
            <p class="video">
                <iframe width="854" height="480"
                        src="https://www.youtube.com/embed/fiuzLlwkn8g"
                        frameborder="0"
                        allow="autoplay; encrypted-media"
                        allowfullscreen>
                </iframe>
            </p>
        </div>
    </div>
</div>
<div class="light-page">
    <div class="content-container">
        <div class="paragraph">
            <h3>Research </h3>
            <h2>Problem Statement</h2>
            <p>
                According to statistics released by the Central Bank of the People's Republic of China, a total of 25.71 billion yuan of mobile
                payment business were issued in 2016, with a total amount of 157.55 trillion yuan, an increase of 85.82% over the same period,
                an increase being soaring. Mobile payment quickly and easily occupied the market with its convenience. At the same time, the
                problem of declining money perception caused by mobile payment has also been exposed. For example, the same is a shopping,
                giveing a hundred dollars cash and paying online, the former is obviously more heart-wrenching. The same value, mobile pay-
                ments perceived money far weaker than cash.
            </p>
            <p class="center">
                <img src="/images/necho/1.png" width="100%">
            </p>
            <p>
                these may seem unimaginable to adults.<br/>
                A more detailed data is this: according to a national census conducted by Tencent, 40% of the more than 200 million children
                own pocket money of more than 1,000 yuan. Going up to first-tier cities in the north, more than 50% of children have pocket
                money of up to 10,000 yuan. However, only 24% of children manage pocket money effectively.
            </p>
            <p class="center">
                <img src="/images/necho/2.png" width="60%">
            </p>
        </div>
        <div class="paragraph">
            <h3>Research  </h3>
            <h2>Exploratory Research</h2>
            <p>
                After conducting some research about mobile payments and parent-child dynamics, we discovered that to allow children to
                better understand the value of money, they need to be taught that:<br/>
                1.Different products have different prices, some products are more expensive than others.<br/>
                2.There is a limit to the amount of money that one has.<br/>
                3.When making a purchase, the amount of money that one has will decrease, whether the purchase is done electronically or not.<br/>
                Considering the points above, we believe that we can make use of the following three methods to allow children to understand t
                he three points above:<br/>
                1.Inculcate the spirit of saving money in children. As money is a limited resource, money has to be saved in order to purchase
                something that is more expensive. By encouraging children to save, they will be able to understand the concept of needing to
                put in effort to save money in order to purchase an expensive item.<br/>
                2.Encouraging children to spend money. Allowing children to spend money and make purchases on their own will help them to
                understand the difference in value between different products. At the same time, they will be able to understand that the amo-
                unt of money that they have is limited, and hence they will not always be able to buy everything that they want.<br/>
                3.Education by parents. The education of parents regarding the value of money, in whatever form that they prefer, is something
                that is extremely important in the process of teaching children about the value of money.<br/>
            </p>
        </div>
        <div class="paragraph">
            <h3>Research   </h3>
            <h2>User Research: Interview</h2>
            <p>
                As described above, we believe education methods, situations and parental involvement are very important.<br/>
                Because we want to explore the impact of effective teaching and parental involvement in education, our survey mainly starts
                from these two aspects.<br/>
                The results are shown below:        <br/>
            </p>
            <p class="center">
                <img src="/images/necho/3.png" width="80%">
            </p>
        </div>
    </div>
</div>
<div class="dark-page">
    <div class="content-container">
        <div class="paragraph">
            <h3>Ideation   </h3>
            <h2>Guiding Goals</h2>
            <p>
                Target population: Children aged 6 to 8 and their families<br/>
                To build a bridge between parents and children<br/>
                To help educate and cultivate the concept of children's money by creating online savings and shopping scenarios<br/>
                To assist parents to participate in childrens’ maney management and supervise children's pocket money.<br/>
            </p>
        </div>
    </div>
</div>
<div class="light-page">
    <div class="content-container">
        <div class="paragraph">
            <h3>Ideation   </h3>
            <h2>Personna</h2>
            <p class="center">
                <img src="/images/necho/4.png" width="100%">
            </p>
        </div>
        <div class="paragraph">
            <h3>Ideation   </h3>
            <h2>System Needs</h2>
            <p class="center">
                <img src="/images/necho/5.png" width="90%">
            </p>
        </div>
        <div class="paragraph">
            <h3>Ideation   </h3>
            <h2>Storyboard Explore Targeted Needs</h2>
            <p class="center">
                <img src="/images/necho/6.png" width="100%">
            </p>
        </div>
        <div class="paragraph">
            <h3>Design   </h3>
            <h2>Functions</h2>
            <p>
                Necho has three components – the savings box, child’s electronic wallet and parent’s mobile app. <br/>
                The target audience for Necho is 6-7-year-old children and their families.<br/>
                Through the control of the children’s allowances by their parents, the process of saving money to purchase an expensive item
                they have set as their goal, and the experience of spending money on their own, children will be able to learn good spending
                habits as well as better understand the value of money.
            </p>
            <p class="center">
                <img src="/images/necho/7.png" width="100%">
            </p>
        </div>
        <div class="paragraph">
            <h3>Design   </h3>
            <h2>User Flow and User Interface</h2>
            <p class="video">
                <iframe width="854" height="480"
                        src="https://www.youtube.com/embed/fiuzLlwkn8g"
                        frameborder="0"
                        allow="autoplay; encrypted-media"
                        allowfullscreen>
                </iframe>
            </p>
            <p>Kids</p>
            <p class="center">
                <img src="/images/necho/8.png" width="100%">
            </p>
            <p>Parents</p>
            <p class="center">
                <img src="/images/necho/9.png" width="100%">
            </p>
        </div>
        <div class="paragraph">
            <h3>Design   </h3>
            <h2>Design modeling( other two design)</h2>
            <p class="center">
                <img src="/images/necho/10.png" width="100%">
            </p>
        </div>
        <div class="paragraph">
            <h3>Design   </h3>
            <h2>Mechanical Structure and Arduino</h2>
            <p class="center">
                <img src="/images/necho/11.png" width="80%">
            </p>
        </div>
    </div>
</div>
<div class="dark-page">
    <div class="content-container">
        <div class="ending-end">The End</div>
        <div class="ending-pointer">
            <div onclick="window.location.href='/cleaner'">
                <span class="next">Next Project</span><br/>
                <span class="project">Bra Cleaner</span>
            </div>
        </div>
    </div>
</div>
<div class="copyright">
    Copyright&copy;2018 Xianyou Yang. All Rights Reserved.
</div>
<script type="text/javascript" src="/javascripts/index.js"></script>
</body>

</html>
