<!DOCTYPE html>
<html>
<head>
    <title>XIANYOU YANG</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <link rel="shortcut icon" href="/images/favicon.ico">
</head>
<body>
<div class="nav">
    <div class="title"><img src="/images/rescue/logo.png">XIANYOU YANG</div>
    <ul>
        <li onclick="window.location.href='/'">My work</li>
        <li>About me</li>
    </ul>
</div>
<img src="/images/rescue/bannner.png" class="bannner">
<div class="light-page">
    <div class="content-container">
        <div class="paragraph">
            <h3>Project Scope</h3>
            <p>
                Duration: 3 months<br/>
                Team: Chihao Sun, Xianyou Yang, Chen Chen, Quan Chen<br/>
                My Role: research, ideation, concept development, app design, information architecture, Hi-Fi
            </p>
        </div>
    </div>
</div>
<div class="dark-page">
    <div class="content-container">
        <div class="paragraph">
            <h3>Project Summary </h3>
            <h2>A New Post-flood rescue mode</h2>
            <p>
                The premise of this project: we assume that rescue workers will resume communication and network first.<br/>
                At the beginning, we focus on how to improve the command efficiency, but then we realize that the most important resourse<br/>
                we can use in rescue is victims themselves. There are several reasons:<br/>
                1. Victims are in every area, they know exactly the situation and emergency about the flood.<br/>
                2. Victims have some supplies with themselves as they are tripped at places where they live daily.<br/>
                3. Victims, some of them, have abilities, like  medical ability, to help other victims.<br/>
                4. Victims know the city so that they can help rescue team with route navigation and something else.<br/>
                Thus, we decide to design a APP as a tool to take advantage of the victims, reduce unnecessary waste of time in rescue and the command, rescue team and victims more quick and accurate information.
            </p>
        </div>
    </div>
</div>
<div class="light-page">
    <div class="content-container">
        <div class="paragraph">
            <h3>Research </h3>
            <h2>Basic Situation of the Flood</h2>
            <p>
                Due to environmental factors, flooding is frequent in China. According to China news service, till July 13, 2016, 1508 counties in
                28 provinces of China have had floods, with more than 6,000 people affected. 237 people died and the direct economic loss was
                147 billion yuan.And most of them was lost during post- flood rescue, as a sudden rainstorm or a levee failure can cause floods,
                but after it, disaster relief and post-disaster reconstruction work will last for weeks or even months. Therefore, to make this work
                effective is vital.
            </p>
            <p class="center">
                <img src="/images/rescue/1.png" width="70%">
            </p>
        </div>
        <div class="paragraph">
            <h3>Research  </h3>
            <h2>Basic Situation of the Rescue Process</h2>
            <p>
                As shown below, it is a complicated process and many parts will take lots of time and manpower.
            </p>
            <img src="/images/rescue/2.png" width="100%">
        </div>
        <div class="paragraph">
            <h3>Ideation   </h3>
            <h2>Guiding Questions</h2>
            <p class="center">
                <img src="/images/rescue/3.png" width="80%">
            </p>
        </div>
        <div class="paragraph">
            <h3>Research  </h3>
            <h2>Analysis and Conclusion</h2>
            <p>
                Disadvantages:<br/>
                1. the floods occur frequently and widely, plenty of people suffer<br/>
                2. need lots of time and people to investigate the situation of the disaster, set  up information network, set up communication
                network and deploy supplies<br/>
                3. it is difficult and chaotic to coordinate both official and private action,  know the distribution and flow of supplies and people<br/>
            </p>
            <p>
                Advantages:<br/>
                1.victims know the situation around them<br/>
                2.all people have abilities and are willing to help<br/>
                3.there are supplies already in this area<br/>
            </p>
        </div>
    </div>
</div>
<div class="dark-page">
    <div class="content-container">
        <div class="paragraph">
            <h3>Ideation   </h3>
            <h2>Guiding Questions</h2>
            <p>
                How to ensure the safety of victims?<br/>
                How to make all the supplies, human and disaster information presented quickly, visually and clearly?<br/>
                How to set up a communication network between command, rescue and victims?<br/>
            </p>
        </div>
    </div>
</div>
<div class="light-page">
    <div class="content-container">
        <div class="paragraph">
            <h3>Ideation   </h3>
            <h2>Brainstorm</h2>
            <p class="center">
                <img src="/images/rescue/4.png" width="90%">
            </p>
        </div>
        <div class="paragraph">
            <h3>Ideation   </h3>
            <h2>System Needs and Solutions</h2>
            <p class="center">
                <img src="/images/rescue/5.png" width="90%">
            </p>
        </div>
        <div class="paragraph">
            <h3>Design   </h3>
            <h2>Functions</h2>
            <p class="center">
                <img src="/images/rescue/6.png" width="100%">
            </p>
        </div>
        <div class="paragraph">
            <h3>Design   </h3>
            <h2>Information Architecture</h2>
            <p class="center">
                <img src="/images/rescue/7.png" width="100%">
            </p>
        </div>
        <div class="paragraph">
            <h3>Design   </h3>
            <h2>User Flow & Userability Test </h2>
            <p class="center">
                <img src="/images/rescue/8.png" width="100%">
            </p>
        </div>
    </div>
</div>
<div class="dark-page">
    <div class="content-container">
        <div class="ending-end">The End</div>
        <div class="ending-pointer">
            <div onclick="window.location.href='/necho'">
                <span class="next">Next Project</span><br/>
                <span class="project">Necho</span>
            </div>
        </div>
    </div>
</div>
<div class="copyright">
    Copyright&copy;2018 Xianyou Yang. All Rights Reserved.
</div>
<script type="text/javascript" src="/javascripts/index.js"></script>
</body>

</html>
